@import '../../styles/colors';
@import '../../styles/typography';

.header {
  background: $primary-100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  width: 100%;
  z-index: 10;
  padding: 0 1.25rem;
  position: sticky;
  top: 0;
  
  p {
    @include headingReg;
    color: $foreground-color;
    font-style: italic;
  }
}