@import '../colors';

%button {
  border-radius: .375rem;
  border: none;
  padding: .25rem 1rem;
  min-height: 40px;
  font-size: 16px;
  transition: .3s ease-out all;
  &:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button($bg, $clr) {
  background: $bg;
  color: $clr;
  &:not(:disabled) {
    &:hover {
      background: rgba($color: $bg, $alpha: .9);
    }
  }
  &:disabled {
    background: rgba($color: $bg, $alpha: .3);
  }
}

button {
  @extend %button;
  &.primary {
    @include button($primary-100, $foreground-color);
  }
  &.secondary {
    @include button($secondary-100, $foreground-color);
  }
}