@import './styles/colors';
@import './styles/typography';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  h1 {
    span {
      color: $secondary-100;
    }
  }
}

.card {
  background: $text-color;
  color: $foreground-color;
  border-radius: .5rem;
  max-width: 400px;
  padding: 1rem;
  width: 100%;
  margin-top: 2rem;
  
  .card-title {
    @include headingReg;
  }
  
  form {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
      margin-top: 1rem;
    }
  }
  
  .form-group {
    label {
      @include formLabel;
      display: block;
      margin-bottom: .25rem;
    }
    input {
      width: 100%;
    }
  }
}